# Python
__pycache__/
*.pyc

# Virtual Environments
venv/
python/venv/

# IDE Files
.vscode/
.idea/

# OS-specific
Desktop.ini
Thumbs.db
$RECYCLE.BIN/
.DS_Store
System Volume Information/
*.tmp

# Logs and temp files
*.log
*.bak